body{
    font-family: Arial, sans-serif;
}
nav{
    width/*ширина*/: 100%;
    height/*высота*/: 60px;
    background: #344051;
}
.logo{
    color: #ffff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 388px;
    float:left;
}
.menu{
    float:left;
    padding-left: 432px; 
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}
.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/hh.png) 90% 100%/auto 85% no-repeat ,url(../img/bg.jpg) center/cover no-repeat;
}
.title__container{
    float:left; 
margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;   
}
.title__container h1{
    font-size:60px;
    font-weight: 600;
    
}
.title__container h4{
    margin-top: 44px;
    font-size: 18px;
    color: #79818d;

}
.title__container input{
    height: 40px;
    text-align:center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0 16px;
    margin: 58px 14px ;
}
.OboMne h2{
    margin-top: 108px;
    text-align: center;
    font-weight:600;
    color: #263244;
    font-size: 23px;
    text-transform: uppercase;

}
.cherta p{
    margin-top:31px;
    text-align: center;
  background: url(../img/f1.PNG) 50% 100%/212px 202px no-repeat;
    height: 231px;
}
.tt{
     margin: 23px 25% 40px 25% ;
  color: #3f495a;
}
.tt1{
    margin: 0px 25% 36px 25% ; 
    color: #3f495a;
}
.OboMne a{
    margin-left:800px;
    color: #6f707e;
    border: 3px solid #6f707e;
    border-radius: 6px ;
    padding: 9px 11px 10px 32px;
    background: url(../img/ikonka.png) 10px 9px/auto  no-repeat;
}
.What_i_can_do{
    margin-top: 97px;
    height: 522px;
    background: url(../img/bg1.jpg) center 100%/auto no-repeat;   
}
.What_i_can_do h2{
    padding-top: 106px;
    text-align: center;
    height: 150px;
    font-size: 25px;
    color: #263244;
    font-weight: 600;
     background: url(../img/cherta.png) 50% 100% no-repeat;  
}
.Skills{
    padding-top: 180px;
    float: left;
     margin-left: 430px;
    background:url(../img/n.png)8.8% 115px/auto no-repeat,url(../img/z.png)33.5% 115px no-repeat,url(../img/raketa.png)61% 115px no-repeat,url(../img/gramofon.png)88.6% 115px no-repeat;


}
.Skills ul li{
float: left;
    margin-left: 65px;
    padding-right: 80px;
    font-size: 16px;
    color: #d07f27;
    font-weight: 600;
    text-align: center;
  
}
.Skills p{   
    float: left;
    font-size: 15px;
    width: 210px;
    text-align: center;
    color: #3f495a;
   margin-right: 43px;
   }
.Cases h2{
    margin-top:110px ;
    text-align: center;
    font-size:23px;
    font-weight: 600;
    color: #384354;  
    padding-bottom: 23px;
    background:url(../img/cherta.png) center 40px no-repeat;
}
.Cases p{
    margin-top:36px;
    text-align: center;
    color: #3f495a;
    font-size: 18.05px;
}
.Cases{
    height: 805px;
    background: url(../img/f2.PNG) center 150px/70% 83% no-repeat;
}
.zg h2{
    margin-top: 200px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #1c2534;
    
}
.calculation{
    margin:0px 533px 0px 494px ;
}
.website h2{
    margin: 50px 0px 21px 0px;
    font-size: 20px;
    color: #1c2534;

}
.website input{
    width: 615px;
    height:45px;
    padding-left: 25px;
    border: 0px solid #6d7682;
    background-color:#eeeeee;
    
}
.design h2{
     margin: 50px 0px 21px 0px;
    font-size: 20px;
    color: #1c2534;
}
.design input{
    width: 615px;
    height:45px;
    padding-left: 25px;
    border: 0px solid #6d7682;
    background-color:#eeeeee;
}
.adaptability h2{
    margin: 50px 0px 21px 0px;
    font-size: 20px;
    color: #1c2534;
}
.adaptability input{
    width: 615px;
    height:45px;
    padding-left: 25px;
    border: 0px solid #6d7682;
    background-color:#eeeeee;
}
.lin33{
    margin-top: 36px;
    border: none; /* Убираем границу */
    background-color:#d1d1d1; /* Цвет линии */
    color: #d1d1d1; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */

}
.ras p{
    padding: 10px 10px 10px 0px;
     color: #1c2534;
    font-weight:700;
  
}
.statistics{
    margin-top: 153px;
    height: 497px;
    background: url(../img/fn.jpg) center  no-repeat;
    
}
.zag_statistics h2{
     padding-top: 99px;
    text-align: center;
    height: 160px;
    font-size: 20px;
    font-weight: 600;
    color: #323e4f;
    text-align: center;
    background: url(../img/cherta.png) 50% 99% no-repeat;
    
}
.statistics_rez{
    margin-top: 85px;
    padding-top:86px;
    margin-left: 400px;
    margin-right: 380px;
background:url(../img/smail.png)78px 6% no-repeat,url(../img/skob.png)325px 6% no-repeat,url(../img/gal.png)585px 6% no-repeat,url(../img/kybok.png) 810px 6% no-repeat;
}

.statistics_rez h2{
  float: left;
   margin-left: 70px;
    margin-right:109px ;
    font-size: 30px;
    font-weight: 900;
    color: #323e4f;
        
}
.statistics_rez p{
    float: left;
    white-space:nowrap;
    text-align:center;
    width:240px ;
    margin-top: 30px;
    font-size: 15px;
    color: #323e4f;
}
.reviews h2{
    margin-top: 106px;
    text-align: center;
    font-size:23px;
    font-weight: 600;
    color: #243042;  
    padding-bottom: 23px;
    background:url(../img/cherta.png) center 40px no-repeat;
    margin-bottom: 57px;
}
.reviews p{
    padding-bottom: 35px;
    text-align: center;
    color: #243042;
    
}
.three_dots{
   background: url(../img/orshar.png)48.5%  no-repeat, url(../img/sershar1.png) 50% no-repeat , url(../img/sershar1.png) 51.5% no-repeat;
     
}
.contacts{
   margin-top: 90px;
    height: 808px;
    background: url(../img/fon_blu.jpg)center/cover no-repeat;
}
.verx_blok{
  
}
.contacts_zag23 h2{
    padding-top: 100px;
    text-align: center;
    height: 160px;
    font-size: 30px;
    font-weight: 600;
    color: #ffff;
    text-align: center;
    background: url(../img/cherta.png) 50% 99% no-repeat;
}
.contacts_text1 p{
    margin: 30px 0px 45px 0px;
    text-align: center;
    color: #ffff;

}
.address a{
float: left;
    line-height:35px;
    color: #ffff;
    text-align: center;
    padding-left: 538px;
    
        
}
.mail a{
    float: left;
    line-height:35px;
    color: #ffff;
    text-align: center;
    padding-left: 120px;
}
.number p{
float: left;
    color: #ffff;
    line-height:35px;
    text-align: center;
    padding-left: 120px;
    }
.data_entry h3{
    margin-top: 155px;
    font-size: 19px;
    color:#ffff;
    text-align: center;
    font-weight: 600;
}
.data_entry1 input{
    margin-top: 45px;
    margin-left: 510px;
    float: left;
    padding-left:10px  ;
    height: 34px;
    width: 351px;
    margin-right: 29px;
    opacity: 80%;
}
.data_entry2 input{
    margin-top: 45px;
    float: left;
    height: 34px;
    width: 351px;
    opacity: 80%;
}
 textarea {
     margin-top: 10px;
     margin-left: 510px;
     width: 731px;
     height:92px ;
     opacity: 80%;
}
.data_entry3_input1 input{
    margin-top: 28px ;
    margin-left:42.5%;
    float: left;
    font-size: 16px;
    font-weight: 600;
    color: #ffff ;
    width: 120px; 
    height: 40px;
    border: 3px solid #ffff;
    background: none;
    border-radius: 6px;
  
}
.data_entry3_input2 input{
     margin-top: 28px ;
     margin-left: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #ffff ;
    width: 120px; 
    height: 40px;
    border: 3px solid #ffff;
    background: none;
    border-radius: 6px;
}
.silka_1 a{
    float: left;
    margin-top: 83px;
  margin-right: 55px;  
margin-left: 672px;
    
}
.silka_2 a{
float: left;
  margin-top: 87px;
  margin-right: 215px 
}
.silka_3 a{
  float: left;  
 margin-top: 85px;
    
}
.konec{
    width/*ширина*/: 100%;
    height/*высота*/: 96px;
    background: #344051;
    }
.konec p{
    color:#ffff;
    text-align: center;
    line-height: 96px;
}