.block_orange {
  width: 90%;
  height: 920px;
  margin: 40px 50px 50px 50px;
  background: #ef773b;
}
.block_green {
  width: 390px;
  height: 590px;
  margin-left: 50px;
  background: #3bef4c;
  float: left;
}
.block_blue {
  width: 90%;
  height: 10%;
  background: #3b6eef;
  float: left;
  margin-left: 50px;
}
@media (max-width: 1300px) {
  .block_orange {
    width: 500px;
    background-color: red;
  }
}
